/* CSS files add styling rules to your content */
:root {
    --mschf-yellow:#fec700; --mschf-red:#ff0400; --mschf-blue: #17a8e6;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Andale Mono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}

body {
    padding: 1.5rem 1.5rem 0.5rem;
    background-color: var(--mschf-yellow);
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    width: 100%;
    height: calc(100% - 8rem);
    position: fixed;
    top: 8rem;
    left: 0;
    background: linear-gradient(180deg, var(--mschf-red), #8e536f 62%, #4d80b0);
    background-size: cover;
    z-index: -1;
}

body::after, .dropmodal::before {
    content: "";
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    background: black;
    background-size: cover;
    z-index: -1;
    border-radius: 15px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

nav > div > span, nav > a {
    border: none;
    background: transparent;
    font: inherit;
    color: #828282;
    font-size: 1.3em;
    cursor: pointer;
    text-decoration: none;
}

nav > div > span {
    color: var(--mschf-blue);
    cursor: default;
}

input[name="page"] {
    display: none;
}

#drops {
    letter-spacing: 5.29px;
}

main {
    flex-grow: 1;
    overflow: auto;
    flex-shrink: 1;
    padding: 0 0 0.8rem 0;
}

.drop {
    display: grid;
    grid-template-columns: 4.5ch 1fr;
    padding:0.25rem 0;
    cursor:pointer;
}

.drop:nth-child(1) {
    color: var(--mschf-yellow);
}

.drop.counter {
    color: var(--mschf-red);
    cursor: default;
}

.dropmodal {
    position: fixed;
    left: 1.5rem;
    top: 3.5rem;
    width: calc(100% - 3rem);
    height: calc(100% - 5rem);
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.dropmodal .inner {
    z-index: 10;
    background: var(--mschf-blue);
    color: #000;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    height: 100%;
    max-width: 21rem;
    width: 100%;
}

.close {
    border: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg,transparent, transparent calc(50% - 1px),black calc(50% - 1px),black calc(50% + 1px), transparent calc(50% + 1px), transparent), linear-gradient(-45deg,transparent, transparent calc(50% - 1px),black calc(50% - 1px),black calc(50% + 1px), transparent calc(50% + 1px), transparent);
    width: 2.5rem;
    height: 2.5rem;
}

.strip {
    background: white;
    padding: 0.3rem;
    width: 100%;
    border: none;
    font: inherit;
    margin: 0;
}

.strip.gotodrop {
    background: var(--mschf-yellow);
    text-decoration: none;
    color: inherit;
}
.strip.pass {
    display: none;
}

.secret .strip.pass {
    display: block;
}

.secret .inner {
    background: var(--mschf-yellow);
}

.secret .strip {
    background: var(--mschf-blue);
    color: white;
}

.secret .strip.gotodrop {
    background: var(--mschf-red);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.userbutton {
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
}

#txtpage:not(.loggedin) #chat, #txtpage.loggedin #login{
    display: none;
}

nav>label, nav>div>label, nav>div>.userbutton {
    cursor: pointer;
    text-decoration: none;
}

nav {
    color: #828282;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13rem;
}

input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="image"]) {
    border: 2px solid #ababab;
    background: transparent;
    color: #fff;
    margin: 1rem 0;
    padding: 0.3rem;
    font:inherit;
    font-size: 0.9rem;
    width:100%;
}

input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="image"])::placeholder {
    color: #ffffffab;
}

input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="image"]):focus {
    border-color: #fff;
    outline: none;
}

stats-control::part(box) {
    border: 2px solid var(--mschf-red);
    border-radius: 0;
    background: #000;
    color: #fff;
    font-family: Andale Mono,SFMono-Regular,Menlo,Monaco,Consolas,
    "Liberation Mono","Courier New",monospace;
    text-transform: uppercase;
}

stats-control::part(yes-button), stats-control::part(no-button) {
    border-radius: 0;
    font: inherit;
    text-transform: inherit;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border: none;
}

stats-control::part(yes-button):focus, stats-control::part(no-button):focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem #fff7;
    box-shadow: 0 0 0 0.2rem #fff7;
}
